name: Sync running data by push running.csv

on:
  push:
    branches:
      - master
    paths:
      - running.csv
  workflow_call:

env:
  # change env here
  GITHUB_NAME: tiny656
  GITHUB_EMAIL: tiny656@hotmail.com

jobs:
  sync:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.x'
      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if: steps.pip-cache.outputs.cache-hit != 'true'
      - name: Install fonts
        run: |
          mkdir -p ~/Library/Fonts
          curl -L -o ~/Library/Fonts/xkcd-script.ttf https://github.com/ipython/xkcd-font/raw/master/xkcd-script/font/xkcd-script.ttf
          curl -L -o ~/Library/Fonts/xkcd-Regular.otf https://github.com/ipython/xkcd-font/raw/master/xkcd/build/xkcd-Regular.otf
          curl -L -o ~/Library/Fonts/xkcd.otf https://github.com/ipython/xkcd-font/raw/master/xkcd/build/xkcd.otf
          curl -L -o /tmp/comicneue-master.zip https://github.com/crozynski/comicneue/releases/download/2.51/comicneue-master.zip
          unzip /tmp/comicneue-master.zip -d /tmp/comicneue
          cp /tmp/comicneue/comicneue-master/Fonts/TTF/ComicNeue/*.ttf ~/Library/Fonts/
      - name: Generate new SVG file
        run: |
          python main.py push
      - name: Commit and push updated SVG file
        run: |
          git config --local user.email "${{ env.GITHUB_EMAIL }}"
          git config --local user.name "${{ env.GITHUB_NAME }}"
          git commit -a -m 'sync running data by push' || echo "nothing to commit"
          git push || echo "nothing to push"
